{% extends '_layouts/guest.html.twig' %}

{% set bodyClass = 'hold-transition login-page' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">Login</div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {# TODO twig form #}
            <form action="{{ path('login') }}" method="post">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Username" value="{{ last_username }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {# TODO
            <a href="{{ path('forgot_password') }}">I forgot my password</a><br>
            <a href="{{ path('register') }}" class="text-center">Register a new membership</a>
            #}

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}
