{% extends '_layouts/guest.html.twig' %}

{% set bodyClass = 'hold-transition login-page' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">Login</div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {{ form_start(form) }}
                {% if error %}
                    <div class="alert alert-error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="form-group has-feedback {% if form.login.errors is defined %}has-error{% endif %}">
                    {{ form_widget(form.username, {'attr': {'placeholder': 'Login'}}) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group has-feedback {% if form.password.errors is defined %}has-error{% endif %}">
                    {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {{ form_errors(form.password) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.type) }}
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-block btn-flat'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}

            {# TODO
            <a href="{{ path('forgot_password') }}">I forgot my password</a><br>
            <a href="{{ path('register') }}" class="text-center">Register a new membership</a>
            #}

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}
